<h1>Projects</h1>


<ul>
  <% @projects.each do |project| %>
  <li>
    <%= link_to project.title, project_path(project) %>
    <%= link_to "編輯", edit_project_path(project) %>
    <%= link_to "刪除", project_path(project.id), method: :delete, data: { confirm: 'are u sure?' } %>
  </li>
  <% end %>
</ul>


<%= link_to "new", new_project_path %>