<h1>Projects</h1>


<ul>
  <% @projects.each do |project| %>
  <li>
    <%= link_to project.title, project_path(project) %>
    <%= link_to "編輯", edit_project_path(project) %>
  </li>
  <% end %>
</ul>


<%= link_to "new", new_project_path %>